.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

form .form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
  }

 .container {
     border-radius: 2.5em;
 }

a.active{
    font-size: 30px;
    color: red;
    border-bottom: 5px solid red;
  }

  .img-thumbnail {
    height:250px;
    width:100%;
}

.fab {
    font-size: 25px;
}