*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: 000;
    color: #555555;
    font-family: 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

.clearfix {
    zoom:1;
}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ================================*/
/*          HEADER                 */
/* ================================*/

header {
    background-color: #e0e0e0;
    padding: 30px 5px 40px 5px;
    position: relative;
    background-image: url(arrows-blur-close-up-163130.jpg);
    height: 100vh;
    background-size: cover;
    color: #c9c9c9;
    background-attachment: fixed;

}

.profile-img {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.profile-heading {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    display: none;
    margin-left: 20px;


}

header h1 {
    text-align: center;
}

.menu li {
    list-style: none;
    display: block;
    margin-right: 20px;
    margin-bottom: 16px;
}


.menu a {
    text-decoration: none;
    color: #c9c9c9;
    ;
    padding-bottom: 6px;
}

.menu a:visited
.menu a:link {
    color: #c9c9c9;
}

.menu a:active,
.menu a:hover {
    color: #c9c9c9;
    border-bottom: solid 2px #c9c9c9;
}

.img-center {
    margin: 0 auto 10px auto;
    display: block;
    border-radius: 50%;
    width: 150px;
}



.sticky {
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 20px;
    color: black;
}

.sticky .menu a{
    color: black;
}

.sticky .menu a:active,
.sticky .menu a:hover {
    border-bottom: solid 2px black;

}



.absolute-navigation {
    position: absolute;
    z-index: 10;
}


footer a:hover,
footer a:active,
.navigation:hover,
.navigation:active {
    cursor: pointer;
    
}

/* ================================*/
/*          PARAGRAPH              */
/* ================================*/

p {

}

.about-me {
    text-align: justify;
    background-color: rgba(0, 137, 16, 0.33);
    padding: 0px 10px;

}

/* ================================*/
/*          SECTION                */
/* ================================*/
.portfolio-section .row{
    padding: 0;
    margin: 0;
}

.row {
    position: relative;
    padding: 20px 0;
    margin: 0px 5px;
    width: 100%;
}

/* ================================*/
/*          HEADING                */
/* ================================*/
h1 {
    font-size: 200%;
}

h2 {
    font-size: 140%;
    margin-bottom: 10px;
}


/* ================================*/
/*          PORTFOLIO PROJECTS     */
/* ================================*/
.img-portfolio {
    width: 100%;
    height: auto;
    margin: auto;
}

.portfolio-img img {
    opacity: 0.7;
    margin: auto;
    transform: scale(1.5);
    transition: transform 1.5s opacity 0.5s;

}

.portfolio-img img:hover {
    opacity: 1;
    transform: scale(1.1);

}


.portfolio-projects {
    list-style: none;
}

.portfolio-img {
    overflow: hidden;
    background-color: #000;
}

.portfolio-section h2 {
    margin: 40px 0;

}



/* ================================*/
/*          FORM BOX               */
/* ================================*/

.form {
    width: 90%;
}

.form h2,
.form label {
    color: white;
    background-color: black;
      mix-blend-mode: difference;
    font-size: 140%;

}

input[type=text],
input[type=email],
select,
textarea {
    width: 90%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

*:focus {
    outline: none;
}

textarea {
    height: 100px;
}

input[type=submit]:active,
input[type=submit]:hover {
    cursor: pointer;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    background-color: rgba(0, 137, 16, 0.66);
    transition: background-color 1s, border 1s, color 1s;
}

.background-form {
    background-image: url(chess-checkmated-chess-pieces-black-white-957312.jpeg);
    background-size: cover;
    background-attachment: fixed;

}

/* ================================*/
/*          FOOTER                 */
/* ================================*/
footer {
    background-color: #e0e0e0;
    padding-top: 20px;
}



footer p {
    margin-left: 20px;
}

.linkedin {
    color: #0077B5;
}

.github {
    color: #4078c0;
}

footer p {
    font-size: 70%;
}

.icons {
    text-align: center;
}

@media only screen and (min-width: 550px) {
    .portfolio-projects li {
        width: 50%;
        display: block;
        float: left;
    }

    .row {
        padding-right: 25px;
    }


    .sticky,
    .container {
        width: 90%;
        margin-left: 5%;
    }



    form .row {
        padding: 0;
        text-align: right;
    }

}

@media only screen and (min-width: 1140px) {
    .sticky {
        max-width: 1140px;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .portfolio-projects li {
        width: 25%;
    }

    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

}