body {
    display: flex;
    flex-direction: row;
}

input[type=text]{
    width: 25%;
    padding: 1.25em;
    margin: 0.5em;
    display: inline-block;
}

input[type=text]:focus, input[type=email]:focus {
    background-color: lightblue;
}

input[type=email] {
    width: 25%;
    padding: 1.25em;
    margin: 0.5em;
    display: inline-block;
}

input[type=number] {
    width: 4em;
    padding: 1.25em;
    margin: 0.5em;
    display: inline-block;
}

select {
    width: 25%;
    padding: 1.25em 1.4em;
    margin: 0.5em;
    border: none;
    border-radius: 0.33em;
    background-color: #f1f1f1;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2em 3em;
    text-decoration: none;
    margin: 1em 1.5em;
    cursor: pointer;
}

label {
    padding: 1.25em 0;
    margin: 0.5em;
    display: block;
}

.col-25 {
    float: left;
    width: 25%;
}
.col-75 {
    width: 75%;
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.fieldgroup label {
    display: inline;
}

input[type=radio] {
    display: inline;
}

fieldset {
    padding: 1.25em;
    margin: 0.5em;
}

.comments {
    padding: 1.25em;
    margin: 0.5em;
}

.col-25 label, .col-25 legend, .col-25 span, .col-25 span {
    float: right;
}

.col-10-l {
    display: flex;
    width: 25vw;
    background-color: #4CAF50;
}

.col-80 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: lightgray;

}

.col-10-r {
    display: flex;
    width: 25vw;
    background-color: #4CAF50;
}
header, section, footer{
    display: flex;
}

header {
    margin-bottom: 3vh;
}

.col-10-l, .col-80, .col-10-r{
    padding: 2vh 0  2vh 0;
    border-top: 5vh solid #4CAF50;
    border-bottom: 5vh solid #4CAF50;

}

