body {
    background-color: aquamarine;
}
.header, .time, .cat-photo, .options, .btn, footer{
    margin: auto;
    width: 50%;
    text-align: center;
}

select {
    display: block;
    text-align: center;
    width: 300px;
    margin: auto;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: underline;
}
a:hover {
    color: black;
    text-decoration: underline
}
a:active {
    color: red;
    text-decoration: underline

}

@media only screen and (max-width: 972px){
    body {
        background-color: aquamarine;
    }
    .header, .time, .cat-photo, .options, .btn, footer{
        width: 100vw;
        padding: none;
    }
    .cat-photo {
        margin: auto;
    }
    select {
        margin: auto;
        padding: none;
        margin: none;
    }

    img {
        width: 300px;
    }
}

@media only screen and (max-width: 360px){
    img{ 
        width: 80vw;
        margin: auto;
    }

    select {
        width: 100vw;
    }
}